.recipe-finder-panel{
	width: 800px;
	height: auto;	
}

h3.retroshadow {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 72px;
	padding: 80px 50px;
	text-align: center;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	color: #2c2c2c;
	background-color: #d5d5d5;
	letter-spacing: .05em;
	text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
  }

.receipe-finder-card-square > .mdl-card__title > .mdl-card__title-text {
	margin-right: 16px;
}		
.receipe-finder-card-square.mdl-card > .mdl-card__media {
	background: transparent;
	text-align: center;
}

.marginRight {
	margin-right: 10px;
}
.nv-search-button {
	padding: 0;
	min-width: 42px;	
}

.recipe-search-result{
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.recipe-search-result > li {
	padding: 5px;
	width: 320px;
	height: auto;
	margin-top: 10px;
}
